<%- include('./fragments/header.ejs') %>
    <main>
        <h2><%= __('main-page.content')%></h2>
        <p>Sklep z modelami bolidów Formuły 1!</p>
    </main>
<%- include('./fragments/footer.ejs') %>