<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Szczegóły klienta</h2>
    <form class="form">
        <label for="clientName">Imie: <span class="symbol-required">*</span></label>
        <input type="text" name="clientName" id="clientName" value="Jakub" disabled>
        <span id="errorClientName"></span>

        <label for="clientSurname">Nazwisko: <span class="symbol-required">*</span></label>
        <input type="text" name="clientSurname" id="clientSurname" value="Slusarski" disabled>
        <span id="errorClientSurname"></span>

        <label for="clientPhoneNumber">Numer telefonu: <span class="symbol-required">*</span></label>
        <input type="text" name="clientPhoneNumber" id="clientPhoneNumber" value="578964315" disabled>
        <span id="errorClientPhoneNumber"></span>

        <div class="form-buttons">
            <a href="/clients/edit" class="list-actions-button-edit">Edytuj</a>
        </div>
    </form>
    <h2>Zamówienia danego klienta</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Nazwa modelu</th>
            <th>Ilość</th>
            <th>Data zamówienia</th>
            <th>Suma zamówienia</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Oracle Red Bull Racing RB18</td>
            <td>2</td>
            <td>03.11.2022</td>
            <td>680 zł</td>
        </tr>
        <tr>
            <td>Scuderia Ferrari SF-75</td>
            <td>1</td>
            <td>03.11.2022</td>
            <td>360 zł</td>
        </tr>
        </tbody>
    </table>
    <p><a href="/clients" class="button-add">Powrót</a></p>
</main>
<%- include('../../fragments/footer.ejs') %>